<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="false"
	cacheResult="false"
	>
	<testsuites>
		<testsuite name="all">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./inc</directory>
		</include>
		<exclude>
			<directory>./inc/index.php</directory>
		</exclude>
	</coverage>
</phpunit>