$spacer-xs: 4px; // 0.25rem
$spacer-sm: 8px; // 0.5rem
$spacer-md: 12px; // 0.75rem
$spacer-lg: 16px; // 1rem
$spacer-xl: 24px; // 1.5rem
$spacer-2xl: 32px; // 2rem
$spacer-3xl: 40px; // 2.5rem
$spacer-4xl: 48px; // 3rem
$spacer-5xl: 64px; // 4rem

@mixin ptr-variables {
	// general
	--ptr-admin-color-primary: #e01a2b;
	--ptr-admin-color-dark: #000000;
	--ptr-admin-color-grey: #efefef;
	--ptr-admin-color-light: #f7f7f7;
	--ptr-admin-color-dark-grey: #777777;
	--ptr-admin-fs-sm: 14px;
	--ptr-admin-fs-md: 18px;
	--ptr-admin-spacing-xs: #{$spacer-xs};
	--ptr-admin-spacing-sm: #{$spacer-sm};
	--ptr-admin-spacing-md: #{$spacer-md};
	--ptr-admin-spacing-lg: #{$spacer-lg};
	--ptr-admin-spacing-xl: #{$spacer-xl};
	--ptr-admin-spacing-2xl: #{$spacer-2xl};
	--ptr-admin-spacing-3xl: #{$spacer-3xl};
	--ptr-admin-spacing-4xl: #{$spacer-4xl};
	--ptr-admin-spacing-5xl: #{$spacer-5xl};

	// wrapper
	--ptr-admin-spacing-x: #{$spacer-md};
	--ptr-admin-spacing-y: #{$spacer-md};
	--ptr-admin-wrapper-bg: white;
	--ptr-admin-wrapper-radius: #{$spacer-md};

	// input related
	--ptr-admin-input-border-width: 1px;
	--ptr-admin-input-border-color: #a1a1a1;
	--ptr-admin-input-border-color-active: #00000;
	--ptr-admin-input-border-radius: #{$spacer-sm};
	--ptr-admin-input-spacing-y: 0.7rem;
	--ptr-admin-input-spacing-x: #{$spacer-md};

	// label related
	--ptr-admin-label-font-size: var(--ptr-admin-fs-sm);
	// button
	--ptr-admin-btn-font-size: var(--ptr-admin-fs-md);
	--ptr-admin-btn-bg: var(--ptr-admin-color-primary);
	--ptr-admin-btn-bg-hover: var(--ptr-admin-color-dark);
	--ptr-admin-button-border-width: var(--ptr-admin-input-border-width);
	--ptr-admin-button-border-color: transparent;
	--ptr-admin-button-border-color-active: var(--ptr-admin-color-dark);
	--ptr-admin-button-border-radius: #{$spacer-sm};

	// progress bar
	--ptr-admin-progress-height: #{$spacer-sm};
	--ptr-admin-progress-bg: var(--ptr-admin-color-grey);
	--ptr-admin-progress-radius: #{$spacer-xs};
	--ptr-admin-progress-inner-bg: var(--ptr-admin-color-primary);
}
