.wp-admin.post-type-petitioner-petition {
	#edit-slug-box,
	#wp-admin-bar-view {
		display: none;
	}

	.ptr-is-loading {
		opacity: 0;
		visibility: hidden;
	}

	.petition-tablink.components-tab-panel__tabs-item {
		display: flex;
		gap: 4px;
	}

	.petitioner-tab {
		display: none;
	}

	.petitioner-tab.active {
		display: block;
	}

	.petitioner-rich-text {
		display: flex;
		flex-direction: column;

		h4 {
			margin-bottom: 4px !important;
		}

		.help {
			font-size: 12px;
			color: #666;
			margin-top: 0px;
		}

		textarea {
			display: none;
		}
	}

	.ptr-code-snippets {
		display: flex;
		gap: 8px;
		margin-bottom: 12px;
		margin-top: 4px;

		input {
			font-size: 12px;
			font-weight: bold;
			border: 1px solid #efefef;
			background: #fbf0f0;
			color: black;
			outline: none;
			text-align: center;
			padding: 4px;
			border-radius: 4px;
			max-width: 120px;
		}
	}

	.petitioner-callout-box {
		margin-top: 16px;
		padding: 16px;
		border-radius: 8px;
		background: #f4f6fc;

		h2 {
			font-weight: bold;
			padding-left: 0 !important;
			margin-left: 0 !important;
			text-transform: uppercase;
		}
	}

	.petitioner-settings-box {
		padding: 16px 16px 32px 16px;
		border-radius: 8px;
		background: #fff;

		.components-tab-panel__tabs {
			margin-bottom: 32px;
		}
	}

	.text-ptr-red {
		color: #e71845;
	}

	.ptr-action-buttons {
		display: flex;
		gap: 4px;
	}

	.ptr-color-picker {
		position: relative;
		display: inline-block;

		.color-picker__button {
			--wp-components-color-accent: #333;
			--wp-components-color-accent-hover: #333;
			display: flex;
			gap: 8px;
		}

		&__palette {
			padding: 4px;
			border-radius: 4px;
			background: white;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			transform: translate(calc(100% + 36px), calc(-100% + 36px));
		}
	}

	.ptr-field-panel {
		width: 100%;
		display: flex;
		gap: 64px;
		flex-wrap: wrap;
		padding: 16px 0px;

		label {
			font-weight: bold;
			display: block;
			min-width: 100px;
		}
	}
}

.ptr-color-picker__overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.ptr-hidden-fields {
	display: none;
}
