.wp-admin.post-type-petitioner-petition {
	#edit-slug-box,
	#wp-admin-bar-view {
		display: none;
	}

	.ptr-is-loading {
		opacity: 0;
		visibility: hidden;
	}

	.petition-tablink.components-tab-panel__tabs-item {
		display: flex;
		gap: 4px;
	}

	.petitioner-tab {
		display: none;
	}

	.petitioner-tab.active {
		display: block;
	}

	.petitioner-rich-text {
		display: flex;
		flex-direction: column;

		h4 {
			margin-bottom: 4px !important;
		}

		.help {
			font-size: 12px;
			color: #666;
			margin-top: 0px;
		}

		textarea {
			display: none;
		}
	}

	.ptr-code-snippets {
		display: flex;
		gap: 8px;
		margin-bottom: 12px;
		margin-top: 4px;

		input {
			font-size: 12px;
			font-weight: bold;
			border: 1px solid #efefef;
			background: #fbf0f0;
			color: black;
			outline: none;
			text-align: center;
			padding: 4px;
			border-radius: 4px;
			max-width: 120px;
		}
	}
}
