// breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop-sm: 1280px;
$desktop-lg: 1440px;
$desktop-xl: 1920px;

// sizes
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-md: 16px;
$spacer-lg: 24px;
$spacer-xl: 32px;


.petitioner {
  // general
  --ptr-color-primary: #e01a2b;
  --ptr-color-dark: #000000;
  --ptr-color-grey: #efefef;

  // wrapper
  --ptr-spacing-x: #{$spacer-md};
  --ptr-spacing-y: #{$spacer-md};
  --ptr-wrapper-bg: white;
  --ptr-wrapper-radius: #{$spacer-md};

  // input related
  --ptr-input-border-width: 1px;
  --ptr-input-border-color: #a1a1a1;
  --ptr-input-border-color-active: #00000;
  --ptr-input-border-radius: #{$spacer-sm};
  --ptr-input-spacing-y: 0.7rem;
  --ptr-input-spacing-x: #{$spacer-md};

  // label related
  --ptr-label-font-size: 14px;
  // button
  --ptr-btn-font-size: 18px;
  --ptr-btn-bg: var(--ptr-color-primary);
  --ptr-btn-bg-hover: var(--ptr-color-dark);
  --ptr-btn-text-color: white;
  --ptr-button-border-width: var(--ptr-input-border-width);
  --ptr-button-border-color: transparent;
  --ptr-button-border-color-active: var(--ptr-color-dark);
  --ptr-button-border-radius: #{$spacer-sm};

  padding: var(--ptr-spacing-y) var(--ptr-spacing-x);
  background-color: var(--ptr-wrapper-bg);
  border-radius: var(--ptr-wrapper-radius);
  box-sizing: border-box;

  // progress bar
  --ptr-progress-height: #{$spacer-sm};
  --ptr-progress-bg: var(--ptr-color-grey);
  --ptr-progress-radius: #{$spacer-xs};
  --ptr-progress-inner-bg: var(--ptr-color-primary);

  &__input {
    display: flex;
    flex-direction: column;
    gap: $spacer-xs;
    margin-bottom: $spacer-sm;

    label {
      font-size: var(--ptr-label-font-size);
    }

    input {
      outline: none;
      border-radius: var(--ptr-input-border-radius);
      border-color: var(--ptr-input-border-color);
      border-width: var(--ptr-input-border-width);
      padding: var(--ptr-input-spacing-y) var(--ptr-input-spacing-x);
      border-style: solid;
      font-size: var(--ptr-label-font-size);

      &:focus {
        border-color: var(--ptr-input-border-color-active);
      }
    }
  }

  &__btn {
    margin-top: $spacer-xs;
    outline: none;
    border-radius: var(--ptr-button-border-radius);
    border-color: var(--ptr-button-border-color);
    border-width: var(--ptr-button-border-width);
    padding: var(--ptr-input-spacing-y) var(--ptr-input-spacing-x);
    border-style: solid;
    font-size: var(--ptr-btn-font-size);
    width: 100%;
    background-color: var(--ptr-btn-bg);
    color: var(--ptr-btn-text-color);
    transition: 0.1s;
    margin-bottom: $spacer-md;

    &:active,
    &:focus {
      border-color: var(--ptr-button-border-color-active);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--ptr-btn-bg-hover);
    }
  }

  &__title {
    padding: 0px;
    margin: 0px 0px $spacer-md 0px;
    font-size: 24px;
  }

  &__goal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacer-lg;
    margin-bottom: $spacer-lg;


    .petitioner__num {
      font-size: 1rem;
      display: block;
      font-weight: bold;
    }

    .petitioner__numlabel {
      font-size: 14px;
    }

    .petitioner__col {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .petitioner__col--end {
      align-items: flex-end;
    }

    @media (min-width: $tablet) {

      .petitioner__num {
        font-size: 1.5rem;
      }

      .petitioner__numlabel {
        font-size: 16px;
      }
    }

  }

  &__progress {
    display: block;
    width: 100%;
    height: var(--ptr-progress-height);
    display: block;
    background-color: var(--ptr-progress-bg);
    border-radius: var(--ptr-progress-radius);
    position: relative;

    &-bar {
      flex-grow: 0;
      border-radius: var(--ptr-progress-radius);
      background-color: var(--ptr-progress-inner-bg);
      height: 100%;
      display: block;

      span {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: 0px auto;
        top: calc(-100% - #{$spacer-sm});
        font-size: 14px;
        text-align: center;
      }
    }
  }

  &__response{
    display: none;

    h3{
      margin: 0px;
      padding: 0px;
    }
  }

  &--submitted{
    form{
      display: none;
    }

    .petitioner__response{
      display: block;
    }
  }

}